<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Edit Post | Josh's Blog</title>
        
        
        <link href="/css/edit.css" type="text/css" rel="stylesheet" />
       
    </head>
    
    <body>
        <h1>{ Edit Post }</h1>
            <div style="width:400; margin:0 auto">
                Your post titled "{{post.subject}}" has been successfully edited.  You may close this popup.
            </div>
            
        
        
    </body>

</html>

