<!DOCTYPE html>

<html>
    <head>
        <title>Josh's Blog</title>
        
        <link href="/css/main.css" type="text/css" rel="stylesheet" />
     
        
    </head>
    
    <body>
        <h1>{ <a href="/">App Index for Udacity CS253</a> }</h1>
     
            <div class="post">
                <h3>Check Out What I've Made!</h3>
                
                
                <div class="content normal">
                    <ul>
                        <li><a href="/blog/signup">Signup Page from Unit 2</a></li>
                        <li><a href="/rot13">ROT13 Encryption Form</a></li>
                        <li><a href="/asciichan">ASCII Art Board</a></li>
                        <li><a href="/blog">Blog from Unit 3</a></li>
                    </ul>
                </div>
            </div>    
             
            <div class="post">
                <h3>Cookie Test</h3>
                <div class="content">
                    <p>You have been here {{visits}} times</p>
                </div>
            </div>
            
        
        <div id="footer"></div>
    </body>

</html>

