<!DOCTYPE html>

<html>
    <head>
        <title>ERROR | Josh's Blog</title>
        
        <link href="/css/main.css" type="text/css" rel="stylesheet" />
        
    </head>
    
    <body>
        <h1>Danger, Will Robinson!</h1>
        
        
        
        
                
                <div class="post">
                    <h3>Something Went Wrong!</h3>
                    
                <div class="content">The page you requested doesn't exist.  Try something else!</div>
                </div>
            
        
        
    </body>

</html>

